html, body {
    height: 100%;
}

body {
    margin: 10px 0 10px 0;
}

.CodeMirror {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    height: 67%;
    font-size: 0.70em;
} 

#code.form-control {
    height: 67%;
    width: 100%;

    background-color: #eeeeee;
    font-size: 0.76em;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.ht-100 {
     height: 100%;
}
