html, body {
    height: 100%;
}

body {
    margin: 10px 0 10px 0;
}

.CodeMirror {
    font-family:Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    height: 67%;
    font-size: 0.70em;
    border: 1px solid #ccc;
}

.CodeMirror, .CodeMirror pre {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#code.form-control {
    height: 67%;
    width: 100%;

    background-color: #eeeeee;
    font-size: 0.76em;
    font-family:Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.ht-100 {
     height: 100%;
}

#notificationBanner {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 999999;
}

#loadingModal .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

#loadingModal .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
}

#loadingModal .fa-spinner {
    color: #ffffff;
}
